
NEXT_PUBLIC_API_BASE=

NEXT_PUBLIC_CONSENT_BASE_URL=
NEXT_PUBLIC_MEMORY_PASSPORT_ENABLED=false


NEXT_PUBLIC_MARKETING_BASE_URL=
NEXT_PUBLIC_UPGRADE_URL=
NEXT_PUBLIC_DOCS_URL=


NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
